
main{
    height: 100%;
    width: 100%;
}

.bullet{
display: flex;
margin: 15% 0 5% 0;
justify-content: center;
box-sizing: border-box;

}

h1{
position: absolute;
display: flex;
justify-content: center;
text-align: center;
/*left: 25%;*/

width: 50%;
margin: 5% auto;


font-family: 'Bebas Neue', cursive;
box-shadow: 20px 20px 20px gray, -10px -10px 20px gray;
border-radius: 15px;

}

.imagen{
    box-shadow: 20px 20px 20px gray, -10px -10px 20px gray;
    border-radius: 20px;
    width: 20%;
}
@media (max-width: 400px) {
    .imagen{
        width:50%;
        margin: 30% 0 15% 0;
    }
    h1{
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        width: max-content;
        font-size: larger;
    }
    
}
.pie-pagina{
    text-align: center;
    margin-top: 30%;
}